
<h2>Book Delivery<span class="label label-default"></span></h2>



<%= form_tag({controller: "bookings", action: "checkout"}, method: "post")  do %>
  

<p>
  <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
     Enter Pick Up
  </a>
</p>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
   
 
  <div class="form-group">
    <label class="control-label" for="pick_name"> Name </label>
    <%= text_field_tag :pick_name, current_user.first_name.to_s.concat( current_user.last_name.to_s), class: 'form-control', placeholder: "Enter Name", required: true %>
  </div>

 
   <div class="form-group">
   		<label class="control-label" for="pick_address">Address</label>
      <%= text_field_tag :pick_address, '', class: 'form-control', placeholder: "Please enter pickup address.", required: true %>
  </div>

 	<div class="form-group">
   		<label class="control-label" for="pick_phone">Number</label>
      <%= text_field_tag :pick_phone, current_user.contact_number, class: 'form-control', placeholder: "+1 (ddd) ddd-dddd", required: true %>
  		
	 </div>   

 </div>

</div> <!-- end pick up collapse-->


<p>
  <a class="btn btn-link" data-toggle="collapse" href="#dropCollapse" role="button" aria-expanded="true" aria-controls="dropCollapse">
     Enter Drop off 
  </a>
</p>


<div class="collapse" id="dropCollapse">
  <div class="card card-body">
 

  <div class="form-group">
    <label class="control-label" for="drop_name"> Name </label>
    <%= text_field_tag :drop_name, '', class: 'form-control', placeholder: "Enter name of person to collect", required: true %>
  </div>

   <div class="form-group">
   		<label class="control-label" for="drop_address">Address</label>
      <%= text_field_tag :drop_address, '', class: 'form-control', placeholder: "Please enter drop off address.", required: true %>
  </div>

 	<div class="form-group">
   		<label class="control-label" for="drop_phone">Number </label>
      <%= text_field_tag :drop_phone, '', class: 'form-control', placeholder: "+1 (ddd) ddd-dddd", required: true %>
	 </div>

	  </div>
</div> <!-- drop off collapse-->  


	<div class="form-group">
    <label for="item_descript">Item description</label>

    <%= text_area_tag(:item_descript, '', rows: 5, class: 'form-control',  placeholder: "Clearly describe the items to be delivered", required: true) %>
  </div>

  <div class="form-group">
    <label for="delivery_instruct">Delivery Instructions</label>
    <%= text_area_tag(:delivery_instruct, '', rows: 5, class: 'form-control',  placeholder: "Any instructions for the driver?", required: false) %>
  </div>


  <%= submit_tag "Book", class: "btn btn-default" %>   
   

<% end %>
