<h2>Book your deliveries</h2>


<%= form_for @booking do |f| %>

  





<% end %>


<!--   <%= current_user.email %> 

<%= simple_form_for @tuser do |f| %>
  <%= f.input :pick_name %>
  <%= f.input :pick_address %>
  <%= f.input :pick_phone_number %>

    <%= f.input :drop_name %>
   <%= f.input :drop_address %>
   <%= f.input :drop_phone_number %>

  <%= f.button :submit %>
<% end %>-->
<!--
https://app.getswift.co/api/v2/quotes -->



<h1>your previous deliveries</h1>

